<nav style="text-align: center;">
    <ul style="list-style-type:none;display: inline-flex;">
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/profile/hari">Profile</a>
        </li>
    </ul>
</nav>

<style>
    nav ul li {
        padding: 10px;
    }
</style>